@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --big-title-font-size: 3rem;
  --margin-top: 4rem;
  --page-padding: 0 2rem;
  --blog-text-font-size: 1.3rem;
  --blog-text-line-height: calc(1.618 * 1.3rem);

  --navbar-shadow: 0px -2px 113px 0px rgba(0, 0, 0, 0.123);

  --title-font-size: clamp(1rem, 8vw, 3rem);
  --auth-button-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  min-height: 100vh;
  color: #131313;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #131313;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ukupni scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Širina scrollbara */
}

/* Pozadina scrollbara */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Sam pomični dio scrollbara */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Hover efekat */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

::selection {
  background: #ffebab;
  color: #131313;
}
